################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ParseXmlDoc/.vs/ParseXmlDoc/v16
/ParseXmlDoc/bin/Debug/netcoreapp3.0
/ParseXmlDoc/obj
